.backToHomeButton {
  background-color: aquamarine;
  border: 1px solid #303030;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.backToHomeButton:hover {
  background-color: #59fcc5;
}

.backToHomeButton:active {
  opacity: 0.9;
}
